---
---

@import "minima";
@import "professional";

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    padding: 5px 5px;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
  }
  
  .dropdown-content.show {
    display: block;
  }
  
  .dropdown-content a {
    color: black;
    padding: 2px 2px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #eae9e9;
  }
